<div class="home-user">
  <div class="middle-section container">
    <div class="tweet-section">
      <h4>What's Happening?</h4>
      <div>
        <%= form_for @opinion do |opinion| %>
          <%= opinion.text_field :text, class:"tweet", id:"text"%>
          <%= opinion.submit "Tweet", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="new-tweets">
      <h4> NEW OPINIONS</h4>
      <% @opinions.each do |opinions|%>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to opinions.author.username, user_path(opinions.author.id) %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=opinions.author.fullname%></h6>
            <p class="card-text"><%= opinions.text %></p>
            <p class = "all-opinions-counter text-dark">This opinion has <%= opinions.likes.count %> likes</a>
            <%= link_to opinion_likes_path(opinions), class: "text-light card-link", method: :post, id: "like" do %>
              <%dynamic_like(opinions, "opinion")%>
            <%end%>
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <div class="rightbar-home">
    <h4>WHO TO FOLLOW</h4>
    <% @user.each do |f| %>
      <div class="user-section">
        <div class="user-photo">
          <%= avatar_for(f) %>
        </div>
        <div class="user-details">
          <%= link_to f.username, user_path(f.id) %>
          <%= f.fullname %>
        </div>
      </div>
    <% end %>
  </div>
