<div class="user-section">
  <div class="middle-section container">
    <%= picture_for(@user)%>
    <div class="new-tweets">
      <h4>ALL TWEETS</h4>
      <% @user.opinions.each  do |opinion| %>
        <div class="user-det">
          <div class="user-name">
            <span><%= opinion.author.fullname %></span>
            <span><%= opinion.text%></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="rightbar-user">
    <div class="user-det">
      <div class="photo-adduser">
        <%= user_follow_enabled?%>
        <%= avatar_for(@user)%>
        <span class="material-icons">list</span>
      </div>
      <div class="username-name">
        <span><%= @user.fullname%></span>
        <span>@<%= @user.username %></span>
      </div>
    </div>
    <div class="tweets-follows">
      <div class="section">
        <span><%= @opinions_count %></span>
        <span>Opinion</span>
      </div>
      <div class="line"></div>
      <div class="section">
        <span><%= @followed_count %></span>
        <span>Following</span>
      </div>
      <div class="line"></div>
      <div class="section">
        <span><%= @followers_count %></span>
        <span>Followers</span>
      </div>
    </div>
    <div class="followed_by">
      <span>FOLLOWED BY</span>
      <% @user_followings.each do |user| %>
        <div class="follower-det">
          <%= avatar_for(user.follower)%>
          <div class="follower-name">
            <%= link_to user.follower.fullname, user_path(user.follower.id), id: "link" %></a>
          <a>@<%= user.follower.username %><a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
